NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE=
SESSION_COOKIE_NAME=ashachar_sid
SITE_NAME=א.שחר • אינסטלציה סיטונאית
SITE_PHONE=08-933-1441
SITE_ADDRESS=הירקון 13, יבנה
CARD_COM_PAGE_URL=
CARD_COM_SUCCESS_URL=http://localhost:3000/success
CARD_COM_ERROR_URL=http://localhost:3000/fail
